<h3 class="center"> Are you looking for something? </h3>
<div class="container">
    <div class="tenor-gif-embed" data-postid="5322342" data-share-method="host" data-width="100%" data-aspect-ratio="1.7857142857142858"><a href="https://tenor.com/view/computer-it-digimon-gif-5322342">Computer It GIF</a> from <a href="https://tenor.com/search/computer-gifs">Computer GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
<p class="center"> May I suggest using the Nav Bar</p>